@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.footer {
	background: #0b0726;
	padding: 53px;
	padding-bottom: 0;
	font-family: "Manrope", sans-serif;
}

.footer-top {
	display: flex;
	justify-content: space-between;
	padding-bottom: 1.5em;
}

.newsletter h4 {
	font-size: 20px;
	line-height: 27px;
	padding-bottom: 1em;
	font-weight: normal;
}

.newsletter p {
	font-size: 12px;
	line-height: 16px;
}

.newsletter,
.company {
	color: white;
}

.quick-link,
.go-to-link {
	padding: 3% 0;
	color: rgb(255, 255, 255, 0.7);
}

.quicklinks,
.go-to {
	display: flex;
	flex-direction: column;
	color: white;
}

.quicklinks h3,
.go-to h3 {
	padding-bottom: 0.7em;
}
.input-group {
	margin: 1em 0;
	/* border-radius: 0px 10px 10px 0px; */
}

.email-input {
	padding: 0.6rem;
	border-radius: 10px 0 0 10px;
	border: none;
	width: 350px;
}

.company {
	width: 30%;
}

.signUp-btn {
	padding: 0.6rem;
	border-radius: 0px 10px 10px 0px;
	background: #ffc30b;
	border: none;
}

.company img {
	width: 70px;
	height: 70px;
}

.social {
	padding-right: 20px;
	font-size: 25px;
	color: #ffc30b;
}

.afen {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	display: flex;
	align-items: center;
	color: #8f8f8f;
}
.afen li {
	margin-right: 2em;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	position: a;
	bottom: 20px;
	/* border-top: 1px solid ; */
	border-top: 1px solid #494343;
	transform: rotate(0.26deg);
	padding: 1em 0;
}

@media only screen and (max-width: 768px) {
	.footer {
		padding: unset;
	}

	.footer-top {
		flex-direction: column-reverse	;
	}

	.footer-bottom {
		flex-direction: column-reverse;
	}

	.email-input {
		width: 75%;
	}

	.company {
		width: 100%;
		font-size: 14px;
		margin: auto;
		text-align: center;
	}

	.company-p {
		width: 70%;
		margin: auto;
		line-height: 19.12px;
		text-align: center;
	}


	.company img {
		width: 20%;
		height: 20%;
		margin: auto;
	}

	.newsletter {
		text-align: center;
	}

	.newsletter h4 {
		padding-bottom: unset;
		padding: 3% 0;
	}

	.quicklinks h3,
	.go-to h3 {
		padding-bottom: unset;
		padding: 3%;
	}

	.quick-link,
	.go-to-link {
		border-bottom: 1px solid #494343;
		margin:0 3%;
		color: white;
		position: relative;
	}

	.quick-link:before,
	.go-to-link:before {
		position: absolute;
		content: "\203A";
		/* float: right; */
		right: 1%;
	}

	.socials {
		display: flex;
		justify-content: space-between;
		/* width: 90%;
		margin: auto; */
		padding-bottom: 1%;
		padding:0 10% ;
		border-bottom: 1px solid #494343;

	}

	.afen {
		justify-content: space-between;
		padding: 3%;
	}

	.footer-bottom {
		border-top: unset;
	}


}
