@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.background-img {
  background-image: url("../../../img/blog-bg.jpg");

  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* z-index: -100; */
}

.blog-hero-section {
  background-color: rgba(21, 15, 64, 0.6);
  text-align: center;
}

.blog-section {
  max-width: 1300px;
  margin: auto;
  margin-top: 180px;
}

.blog-post {
  display: flex;
  margin-bottom: 24px;
}

.blog-post img {
  width: 484px;
}

.blog-post h4 {
  color: white;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: -0.04em;
}
.blog-title {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #ffe260;
  padding: 1rem 0;
}

.blog-content {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: -0.04em;
  padding-left: 24px;
  color: #ffffff;
}

.blog-content-2 {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: -0.04em;
  padding-right: 24px;
  color: #ffffff;
  text-align: right;
}

.blog-content p {
  opacity: 0.7;
}

.link {
  color: #ffe260;
  font-weight: 500;
  font-size: 18px;
  /* line-height: 21px; */
  padding: 0.5em;
}

@media only screen and (max-width: 768px) {
  .blog-hero-section img {
    width: 100%;
  }

  .blog-section {
    margin-top: unset;
  }
  .blog-post {
    flex-direction: column;
    text-align: center !important;
  }

  .blog-post img {
    width: 95%;
    margin: auto;
  }

  .blog-content,
  .blog-content-2 {
    font-size: 18px;
    font-weight: unset;
    padding-left: unset;
    width: 90%;
    margin: auto;
    text-align: center;
  }

  .blog-content h4,
  .blog-content-2 h4 {
    font-size: 14px;
    text-align: center;
  }

  .blog-title {
    font-size: 18px;
    text-align: center;
  }
  .blog-content-2 {
    text-align: left;
    padding-right: unset;
    text-align: center;
  }

  .blog-post-2 {
    flex-direction: column-reverse;
  }
}
