
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.service {
    background-image: url("../../../img/afen-art-bg.jpg");

	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.services {
	height: 100vh;
	position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    /* align-items: end; */
}

.right-col {
	display: flex;
	flex-direction: column;
	/* justify-content: flex-end; */
	/* padding-right: 10%;*/
	padding-top: 10%; 
    position: relative;
}


.right-col h1 {
	color: #ffe260;
	font-weight: 500;
	font-size: 28px;
	line-height: 32px;
	letter-spacing: -0.035em;
    padding: .5em 0;
    
}

.right-col p {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    opacity: 0.7;
    padding-bottom: 32px;
    width: 332px;
    
}

.learn{
    background-color: #BF8B4B;
    width: 175px;
    padding: .7em ;
    border-radius: 5px;
    border: none;
    color: #150F40;
    font-size: 18px;
    letter-spacing: 9.5%;
}

.button-group {
    /* position: absolute; */
    padding-top: 40%;
    padding-left: 50%;

}
.btn {
    width: 74px;
    padding: 5px;
    border: none;
    font-size: 1.5em;
    
    background-color: rgb(255, 226, 96, 0.1);
    color:#ffe260;
    }

.nav-left {
    border-radius: 9px 0 0 9px;
    margin-right: 5px;
}
.nav-right {
    border-radius: 0 9px 9px 0;   
}


.headings{
    /* position: absolute; */
    /* transform: rotate(-90deg); */
    /* top: 250px; */
    /* left: 0;
    padding: 0; */
    /* margin-left: -100px; */
   

}


.service-heading {
    font-weight: 500;
    font-size: 36px;
    line-height: 55px;
    letter-spacing: -0.03em;
    color: #FFE260;
    opacity: 0.3;
    padding-right: 2em;
    
}
/*
.actives {
    font-size: 46px;
   
}

.right-col-1{
    background-image: url("../../../img/afen-real.jpg");

	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    position: relative;
}

.right-col-2{
    background-image: url("../../../img/backgroundImage.jpg");

	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    position: relative;
} */
