@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.afen-art {

	background-image: url("../../../img/afen-art-bg.jpg");

	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.services {
	height: 100vh;
	position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1300px;

}

.right-col {
	display: flex;
	flex-direction: column;
	/* justify-content: flex-end; */
	/* padding-right: 10%;*/
	padding-top: 80px;
	position: relative;

	padding-top: 10%; 
    position: relative;
	height: 63%;
}

.right-col h1 {
	color: #ffe260;
	font-weight: 500;
	font-size: 28px;
	line-height: 32px;
	letter-spacing: -0.035em;
	padding: 0.5em 0;
}

.right-col p {
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
	opacity: 0.7;
	padding-bottom: 32px;
	width: 332px;
}

.learn {
	background-color: #bf8b4b;
	width: 175px;
	padding: 0.7em;
	border-radius: 5px;
	border: none;
	color: #150f40;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
}

.button-group {

	position: relative;
	padding-top: 40%;
	/* bottom: 80px; */
	/* right: 0; */
	/* padding-left: 50%;  */

    /* position: absolute; */
    padding-top: 40%;
    padding-left: 50%;

}
.btn {
	width: 74px;
	padding: 12px 20px;
	border: none;
	font-size: 25px;

	background-color: rgb(255, 226, 96, 0.1);
	color: #ffe260;
}

.nav-left {
	border-radius: 9px 0 0 9px;
	margin-right: 5px;
}
.nav-right {
	border-radius: 0 9px 9px 0;
}

/* 
.headings{
    position: absolute;
    transform: rotate(-90deg);
    top: 250px;
    left: 0;
    padding: 0;
    margin-left: -100px;
   

} */


.service-heading {
	font-weight: 500;
	letter-spacing: -0.03em;
	color: #ffe260;
	opacity: 0.3;
	/* padding-right: 2em; */

	/* transform-origin: 0 0; */
	/* writing-mode: vertical-rl; */
}


.actives {
    font-size: 46px;
   

}
.actives,
.actived {
	transform: rotate(180deg);
	writing-mode: vertical-rl;
}

.actives {
	font-size: 48px;
}
.actived {
	font-size: 36px;
	opacity: 0.2;
}

.headings {
	/* width: 130px; */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media only screen and (max-width: 768px) {
	.afen-art {
		background: #0b0726;
		/* padding-bottom: 100px; */
		height: 120vh;


	}

	.headings {
		display: none;
	}
	.services {
		position: relative;
	}
/* 
	.services::before {
		position: absolute;
		content: "";
		background-image: url("../../../img/afen-art-bg.jpg");
		height: 30%;
		width: 100%;
		top: 0;
		left: 0;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	} */
	.actives {
		font-size: 18px;
	}

	.actived {
		font-size: 14px;
	}

	.right-col p {
		font-size: 18px;
		width: 90%;
		margin: auto;
	}

	.actives,
	.actived {
		writing-mode: unset;
		transform: unset;
		padding-top: 4%;
	}

	.services,
	.headings {
		flex-direction: column;
		padding: unset;
	}

	.right-col {
		padding-top: 90%;
		text-align: center;
		justify-content: center;
	}

	.button-group {
		padding-top: 15%;
	}

	.learn {
		width: 70%;
		margin: auto;
	}
}
