@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.whitepaper-section {
    background-image: url("../../../img/whitepaper-bg.png");

	height: 80vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    text-align: center;
}

.whitepaper-heading {
    vertical-align: baseline;
    font-weight: bold;
    font-size: 70px;
    line-height: 80px;
    text-align: center;
    padding-top: 14%;
/* display: flex;
align-items: center;
justify-content: center; */
    color: rgba(255, 255, 255, 0.6);
}

.whitepaper-p {
    padding: 20px 148px;
    
font-weight: 500;
font-size: 22px;
line-height: 25px;

color: #16222E;

}

.continue-reading,.download {
    color: #BF8B4B;

}
