@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.whitepaper-doc-section{
	display: flex;
	width: 100%;
	position: relative;
}

.navbar {
	display: block;
	position: fixed;
	width: 20%;
	z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden;
  padding-top: 50px;
}

.main-doc{
	width: 80%;
	padding-top: 60px;
	margin-left: 20%;
}

nav .sidebar {
	margin-top: 0;
	background: #ffffff;
	overflow-y: scroll;
	border-right: 2px solid #0b0726;
}

.sidebar::-webkit-scrollbar {
	display: none;
}

nav .sidebar ul li {
	list-style: none;
}

nav .sidebar ul li .nav-link {
	display: flex;
	padding: 10%;
	margin: 0;
	justify-content: space-between;
	font-size: 22px;
	line-height: 25px;
	color: #000000;
}

nav .sidebar ul li .nav-link:hover {
	background-color: #ccc;
}

.whitepaper-btn {
	display: none;
}

.panelshow a {
	color: #000000;
	font-size: 0.8em;
}
.panelhide {
	overflow: hidden;
	display: none;
}

.panelshow {
	overflow: hidden;
	display: block;
	padding: 2em;
	padding-left: 2.2em;
	margin: 0;
	font-size: 22px;
	line-height: 25px;
	background-color: whitesmoke;
}

.main-doc .main-section {
	margin-left: 50px;
	margin-right: 3em;
	color: #515355;
	font-size: 22px;
	line-height: 30px;
}

.main-doc .main-section h2 {
	padding-bottom: 0.5em;
	font-weight: 300;
	color: black;
	text-transform: capitalize;
}

#main-doc .main-section p {
	padding: 0 1.3em 1.3em 1.3em;
	font-size: 22px;
	line-height: 30px;
	color: #595959;
}

#main-doc .main-section ul li {
	margin-left: 1em;
	padding: 0.3em;
	list-style: disc;
}

#main-doc .main-section ol li {
	margin-left: 3em;
	padding: 0.3em;
	list-style-type: decimal;
}

table,
td {
	border: 1px solid black;
	padding: 0.5em;
}

table {
	margin-top: 2em;
}
tr {
	padding: 0.5em;
}

.whitepaper-image {
	width: 70%;
}

@media only screen and (max-width: 768px) {
	.main-doc .main-section {
		margin-left: unset;
	}
	.main-doc .main-section p {
		font-size: 16px;
		}

		.navbar{
			/* display: none; */
		}

		.main-doc{
			width: 100%;
			padding-top: 60px;
			margin-left: 10%;
		}
		

	.whitepaper-btn {
		color: white;
		font-size: 27px;
		top: 3%;
		position: fixed;
		left: 5%;
		cursor: pointer;
		display: block;
	}

	.activating {
		display: none;
		right: 0;
	}

	nav .sidebar ul li .nav-link {
		font-size: 14px;
		padding: 5%;
	}

	
	
.navbar {
	height: 100vh;
	width: 100%;
	z-index: 1; /* Stay on top */
  top: 31px; /* Stay at the top */
  left: 0;
  overflow-x: hidden;
  padding-top: 50px;
  position: fixed;
}

.team-link {
	font-size: 10px;
	width: 80%;
}
	/*

	 nav .sidebar {
		display: block;
		width: 100%;
	}



 */
}
