@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

nav {
	display: flex;
	position: relative;

    overflow-y: scroll;

	/* overflow-y: scroll; */

}

nav .sidebar {
	position: fixed;
	width: 20%;
	height: 100%;
	background: #ffffff;
	overflow-y: scroll;
	border-right: 2px solid #0b0726;


}

.sidebar::-webkit-scrollbar {
	display: none;

    z-index: -1;
}



nav .sidebar header h1 {
	margin: 1em;
	font-weight: bold;
	font-size: 1.4em;
}

.token {
	width: 100%;
}


nav .sidebar ul li {
	list-style: none;

	margin: 0;
}

nav .sidebar ul li .nav-link , .accordion {
	display: flex;
	/* color: #636567; */
	/* padding: 1em 0em 1em 1.2em; */
	padding: 2em;
	
	margin: 0;
	justify-content: space-between;

	font-size: 22px;
	line-height: 25px;
	color: #000000;
}

#main-doc .main-section {
	/* margin-top: 1em; */
	margin-left: 22%;
	margin-right: 3em;
	color: #515355;
	font-size: 22px;
	line-height: 30px;
}

#main-doc .main-section h2 {
	padding-bottom: 0.5em;
	font-weight: 300;
	/* font-size: 2em; */
	color: black;
	text-transform: capitalize;
}

#main-doc .main-section p {
	padding: 0 1.3em 1.3em 1.3em;
	font-size: 22px;
	line-height: 30px;
	color: #595959;
}

#main-doc .main-section ul li {
	margin-left: 1em;
	padding: 0.3em;
	list-style: disc;
}

#main-doc .main-section ol li {
	margin-left: 3em;
	padding: 0.3em;
	/* list-style: disc; */
	list-style-type: decimal;
}

@media only screen and (max-width: 768px) {
	nav .sidebar {
		position: relative;
		width: 100%;
		/* overflow-y: unset; */
		overflow: hidden;
	}

	nav .sidebar header h1 {
		text-align: center;
	}

	nav .sidebar ul {
		border: 1px solid black;
		/* overflow-y: scroll; */

		overflow: hidden;

		/* overflow: hidden; */

		height: 17em;
	}

	#main-doc .main-section {
		text-align: left;
		margin-left: 1em;
		margin-right: 1em;
	}

	#main-doc .main-section ul li {
		margin-left: 2em;
	}
}

table,
td {
	border: 1px solid black;
	padding: 0.5em;
}

table {
	margin-top: 2em;
}
tr {
	padding: 0.5em;
}
/* 
table tr td ul li{
    padding:.5em;
    list-style: disc;
}

td ol li{
    padding: 0;
    list-style: disc;
} */

header {
	font-weight: 500;
	font-size: 27px;
	line-height: 62px;
}


.subnav {
	padding: 2em;
	padding-left: 2.2em;

	margin: 0;

	font-size: 22px;
	line-height: 25px;
	background-color: whitesmoke;
	/* display: none; */
}


.panelshow a {
	color: #000000;
	font-size: 0.8em;
}
.panelhide {
    overflow: hidden;
    display: none;
}

.panelshow {
    overflow: hidden;
    display: block;

}



 .accordion:hover {
    background-color: #ccc;
}
  

table,
td {
	border: 1px solid black;
	padding: 0.5em;
}

table {
	margin-top: 2em;
}
tr {
	padding: 0.5em;
}

  
@media only screen and (max-width: 768px) {
	nav .sidebar {
		/* position: relative; */
		width: 70%;
		height: 100vh;
		border-right: unset;
		
		/* display: none; */
		/* overflow-y: unset; */
		/* overflow: hidden; */
	}

	.navbar {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
	.activateds {
		display: none;
	}

	nav .sidebar header h1 {
		text-align: center;
		font-size: 16px;
	}

	nav .sidebar ul {
		/* border: 1px solid black; */
		/* overflow-y: scroll; */
		/* overflow: hidden; */
		height: 17em;
	}

	#main-doc .main-section {
		text-align: left;
		margin-left: 1em;
		margin-right: 1em;
	}

	#main-doc .main-section ul li {
		margin-left: 2em;
	}

	.whitepaper-image {
		width: 100%;
	}

	header {
		font-size: 22px;
	}

	#main-doc .main-section p {
		font-size: 16px;
		line-height: 25.6px;
		padding: unset;
		width: 95%;
		margin: auto;
	}

	table {
		width: 100%;
	}

	.whitepaper-btn {
		color: white;
		font-size: 27px;
		top: 3%;
		position: fixed;
		left: 5%;
		cursor: pointer;
	}

}
  
